{% extends "CuerpoVacio.html" %} {% block cuerpo %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
            <div class="title_left">
                <h3>Users<small>Some examples to get you started</small></h3>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                    <div class="x_title">

                      <form role="form" action="#" method="post">{% csrf_token %}
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                              {% for field in form %}
                                  <div >

                                      {% if field.html_name == "IdCtta" %}

                                          {{ field.errors }}
                                          {{ field.label_tag }}
                                          <a id="crear_detalle" href="{% url 'personas:crear_contratista' %}" class="btn btn-xs" >
                                          <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                          </a></br>
                                          {{ field }}


                                      {% elif field.html_name == "IdCecoCtto" %}

                                          {{ field.errors }}
                                          {{ field.label_tag }}
                                          <a id="crear_detalle" href="{% url 'personas:crear_persona' %}" class="btn btn-xs" >
                                              <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                          </a>
                                                <div class="row">
                                                <div class="col-lg-2">{{ field }}</div>
                                                <div class="col-lg-6"id="datos"></div>
                                                <div class="col-lg-4"></div>
                                                </div>

                                      {% else %}
                                          <div >
                                            {{ field.errors }}
                                            {{ field.label_tag }}</br>
                                            {{ field }}
                                          </div>

                                      {% endif %}

                                  </div>
                              {% endfor %}


                              </br></br>
                              <div class='form-group'>
                                  <input type="submit" class="btn btn-primary" name="submit" value="Crear Contrato">
                                  <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'personas:personas' %}'">Cancelar</button>


                              </div>

                              <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div class="x_panel">
                                              <div class="x_title">
                                                <h2>Nuevo Ctto<small>Contrato : : Detalle </small></h2>
                                                  <ul class="nav navbar-right panel_toolbox">
                                                      <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                                      </li>
                                                      <li class="dropdown">
                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Settings 1</a>
                                                          </li>
                                                          <li><a href="#">Settings 2</a>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                      <li><a href="#"><i class="fa fa-close"></i></a>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                                            <div class="x_content">
                                                <p class="text-muted font-13 m-b-30">
                                                  Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                                                </p>

                                                    tabla aqui
                                                    <table class="table">
                                                        {{ ItemCttos.management_form }}

                                                        {% for form in ItemCttos.forms %}
                                                            {% if forloop.first %}
                                                                <thead>
                                                                <tr>
                                                                    {% for field in form.visible_fields %}
                                                                        <th>{{ field.label|capfirst }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                            {% endif %}
                                                            <tr class="{% cycle row1 row2 %} formset_row">
                                                                {% for field in form.visible_fields %}
                                                                    <td>
                                                                        {# Include the hidden fields in the form #}
                                                                        {% if forloop.first %}
                                                                            {% for hidden in form.hidden_fields %}
                                                                                {{ hidden }}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {{ field.errors.as_ul }}
                                                                        {{ field }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                              </div>
                                          </div>
                              </div>

                              <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                          <h2>Nueva Orden de Cambio<small>Contrato :{{NumeroCtto}} :Información General </small></h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class='form-group'>
                                            <input type="submit" class="btn btn-primary" name="submit" value="Guardar Orden de Cambio">
                                                <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'personas:personas' %}'">
                                                    Cancelar
                                            </button>

                                        </div>

                                    </div>

                              </div>



            </form>

                    </div>
                    <div class="clearfix"></div>

                  </div>
                  <div class="x_content">
                      <p class="text-muted font-13 m-b-30">
                          Tablas de Servicios, Contratos y Convenios: <code>$().DataTable();</code>
                      </p>
                  </div>

              </div>
            </div>
      </div>
    </div>
</div>

<script>
   $(function(){
       function hideInputs() {
           $("#id_SeguroCtto").hide();
           $("#id_ObservCtto").hide();
       }

       $("#id_TerrenCtto").on('change', function(){
           var val = $("#id_TerrenCtto").val();
           if (val == 'Si') {
               $("#id_SeguroCtto").show();

           } else if (val == 'No') {
               $("#id_ObservCtto").show();
               $("#id_SeguroCtto").hide();
           } else {
               hideInputs();
           }
       });

      $("#id_IdCecoCtto").on('change',inicio);
       function inicio (){
           var idajx = $(this).val();
           $.ajax({
            data: {'idajx':idajx},
             url: '/crear_persona/busqueda_ajax',
            type: 'get',
            success: function(data){
              var html =""
              for (var i = 0; i<data.length ; i++){
                html += '&nbsp Nombre : '+data[i].fields.NomCeco+''
              }
              $('#datos').html(html);
            }


           });
        }


       hideInputs();
   });
   </script>
{% endblock cuerpo %}

{% block js %}

  <script type="text/javascript">
      $('.formset_row').formset({
          addText: 'Agregar Item',
          deleteText: 'Eliminar',
          prefix: 'Itemctto_set'
      });
  </script>
{% endblock js %}
