{% extends "CuerpoVacio.html" %} {% block cuerpo %}

<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
            <div class="title_left">
                <h3>Users<small>Some examples to get you started</small></h3>
            </div>

      <form role="form" action="#" method="post"> {% csrf_token %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">

                                    <div class="x_title">
                                          <h2>Nuevo Contrato<small>Contrato :{{NumeroCtto}} :Información General </small></h2>
                                          <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                              <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                              </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                          </ul>
                                          <div class="clearfix"></div>
                                    </div>
                                    <div class="form-horizontal form-label-left col-md-12 col-sm-12 col-xs-12">

                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.NumCtto.errors }}{{ form.NumCtto.label_tag }}<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                      <div class="fieldWrapper">
                                                          {{ form.NumCtto }}
                                                      </div>
                                                    </div>
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ form.IdMandante.errors }}{{ form.IdMandante.label_tag }}</label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                          {{ form.IdMandante }}
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.DescCtto.errors }}{{ form.DescCtto.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.DescCtto }}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.IdCecoCtto.errors }}{{ form.IdCecoCtto.label_tag }}</label>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                          {{ form.IdCecoCtto }}
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                      <a id="crear_detalle" href="{% url 'personas:crear_contrato' %}" class="btn btn-xs" >
                                                          <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                                      </a>
                                                    </div>

                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.IdCtta.errors }}{{ form.IdCtta.label_tag }}</label>
                                                      <div class="col-md-7 col-sm-7 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.IdCtta}}
                                                        </div>
                                                      </div>
                                                      <div class="col-md-2 col-sm-2 col-xs-12">
                                                        <a id="crear_detalle" href="{% url 'personas:crear_contratista' %}" class="btn btn-xs" >
                                                          <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                                        </a></br>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AlcanceCtto.errors }}{{ form.AlcanceCtto.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.AlcanceCtto}}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.ValorCtto.errors }}{{ form.ValorCtto.label_tag }}<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                      <div class="fieldWrapper">
                                                          {{ form.ValorCtto }}
                                                      </div>
                                                    </div>
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ form.MonedaCtto.errors }}{{ form.MonedaCtto.label_tag }}</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                          {{ form.MonedaCtto }}
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.Anticipo.errors }}{{ form.Anticipo.label_tag }}<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                      <div class="fieldWrapper">
                                                          {{ form.Anticipo }}
                                                      </div>
                                                    </div>
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ form.IvaOferta.errors }}{{ form.IvaOferta.label_tag }}</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                          {{ form.IvaOferta }}
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.Modalidad.errors }}{{ form.Modalidad.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.Modalidad }}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.DocOferta.errors }}{{ form.DocOferta.label_tag }}<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                          {{ form.DocOferta }}
                                                    </div>
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechOferta.errors }}{{ form.FechOferta.label_tag }}</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                          {{ form.FechOferta }}
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechIniCtto.errors }}{{ form.FechIniCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.FechIniCtto}}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechTerCtto.errors }}{{ form.FechTerCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.FechTerCtto}}
                                                          </div>
                                                      </div>
                                                  </div>








                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                <div class="panel-body">
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.EstCtto.errors }}{{ form.EstCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.EstCtto }}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AdjudicCtto.errors }}{{ form.AdjudicCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.AdjudicCtto }}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.TipoServ.errors }}{{ form.TipoServ.label_tag }} <span class="required">*</span></label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.TipoServ}}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.LocalCtto.errors }}{{ form.LocalCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.LocalCtto }}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.TerrenCtto.errors }}{{ form.TerrenCtto.label_tag }} <span class="required">*</span></label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.TerrenCtto}}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.SeguroCtto.errors }}{{ form.SeguroCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.SeguroCtto }}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.RetenCtto.errors }}{{ form.RetenCtto.label_tag }}<span class="required">*</span></label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.RetenCtto }}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechCartaAdj.errors }}{{ form.FechCartaAdj.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.FechCartaAdj}}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.LugarCtto.errors }}{{ form.LugarCtto.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.LugarCtto}}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.Boleta.errors }}{{ form.Boleta.label_tag }}<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                      <div class="fieldWrapper">
                                                          {{ form.Boleta }}
                                                      </div>
                                                    </div>
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">{{ form.MonedaBoleta.errors }}{{ form.MonedaBoleta.label_tag }}</label>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                          {{ form.MonedaBoleta}}
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechVigenBoleta.errors }}{{ form.FechVigenBoleta.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.FechVigenBoleta }}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AjusteCom.errors }}{{ form.AjusteCom.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.AjusteCom }}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.TipoSolicitud.errors }}{{ form.TipoSolicitud.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.TipoSolicitud }}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AjustNumEDP.errors }}{{ form.AjustNumEDP.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.AjustNumEDP }}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AjustValEDP.errors }}{{ form.AjustValEDP.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.AjustValEDP }}
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechSolCtto.errors }}{{ form.FechSolCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                          <div class="fieldWrapper">
                                                              {{ form.FechSolCtto }}
                                                          </div>
                                                      </div>
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.FechAppCtto.errors }}{{ form.FechAppCtto.label_tag }}</label>
                                                      <div class="col-md-3 col-sm-3 col-xs-12">
                                                              {{ form.FechAppCtto}}
                                                      </div>
                                                  </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.CordCtto.errors }}{{ form.CordCtto.label_tag }}</label>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                          {{ form.CordCtto }}
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                      <a id="crear_detalle" href="{% url 'personas:crear_personalproy' %}" class="btn btn-xs" >
                                                          <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                                      </a>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AdminCttoProy.errors }}{{ form.AdminCttoProy.label_tag }}</label>
                                                      <div class="col-md-7 col-sm-7 col-xs-12">
                                                            {{ form.AdminCttoProy }}
                                                      </div>
                                                      <div class="col-md-2 col-sm-2 col-xs-12">
                                                        <a id="crear_detalle" href="{% url 'personas:Crear_AdminProy' %}" class="btn btn-xs" >
                                                            <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                                        </a>
                                                      </div>
                                                    </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.AdminCttoCtta.errors }}{{ form.AdminCttoCtta.label_tag }}</label>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                          {{ form.AdminCttoCtta }}
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                                      <a id="crear_detalle" href="{% url 'personas:crear_personalctta' %}" class="btn btn-xs" >
                                                          <span class="glyphicon glyphicon-plus-sign cruz_section"> Crear</span>
                                                      </a>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.ProvisCtto.errors }}{{ form.ProvisCtto.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.ProvisCtto }}
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.ObservCtto.errors }}{{ form.ObservCtto.label_tag }}</label>
                                                      <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="fieldWrapper">
                                                          {{ form.ObservCtto }}
                                                        </div>
                                                      </div>
                                                  </div>




                                          </div>

                                        </div>


                                </div>

                  </div>

            </div>




                              <div class="col-md-12 col-sm-12 col-xs-12">

                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                          <div class="x_panel">
                                              <div class="x_title">
                                                <h2>Aportes Del Mandante Contrato<small>Contrato : : Detalle </small></h2>
                                                  <ul class="nav navbar-right panel_toolbox">
                                                      <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                                      </li>
                                                      <li class="dropdown">
                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Settings 1</a>
                                                          </li>
                                                          <li><a href="#">Settings 2</a>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                      <li><a href="#"><i class="fa fa-close"></i></a>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                                              <div class="x_content">
                                                <p class="text-muted font-13 m-b-30">
                                                  Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                                                </p>

                                                    tabla aqui
                                                    <table class="table">
                                                        {{ AportesCttos.management_form }}

                                                        {% for form in AportesCttos.forms %}
                                                            {% if forloop.first %}
                                                                <thead>
                                                                <tr>
                                                                    {% for field in form.visible_fields %}
                                                                        <th>{{ field.label|capfirst }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                            {% endif %}
                                                            <tr class="{% cycle row1 row2 %} formset2_row">

                                                                {% for field in form.visible_fields %}
                                                                    <td>
                                                                        {# Include the hidden fields in the form #}
                                                                        {% if forloop.first %}
                                                                            {% for hidden in form.hidden_fields %}
                                                                                {{ hidden }}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {{ field.errors.as_ul }}
                                                                        {{ field }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                              </div>
                                          </div>
                                  </div>

                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                          <div class="x_panel">
                                              <div class="x_title">
                                                <h2>Multas Personal Clave Contrato<small>Contrato : : Detalle </small></h2>
                                                  <ul class="nav navbar-right panel_toolbox">
                                                      <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                                      </li>
                                                      <li class="dropdown">
                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Settings 1</a>
                                                          </li>
                                                          <li><a href="#">Settings 2</a>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                      <li><a href="#"><i class="fa fa-close"></i></a>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                                              <div class="x_content">
                                                <p class="text-muted font-13 m-b-30">
                                                  Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                                                </p>

                                                    tabla aqui
                                                    <table class="table">
                                                        {{ MultasPcCttos.management_form }}

                                                        {% for form in MultasPcCttos.forms %}
                                                            {% if forloop.first %}
                                                                <thead>
                                                                <tr>
                                                                    {% for field in form.visible_fields %}
                                                                        <th>{{ field.label|capfirst }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                            {% endif %}
                                                            <tr class="{% cycle row1 row2 %} formset3_row">
                                                                {% for field in form.visible_fields %}
                                                                    <td>
                                                                        {# Include the hidden fields in the form #}
                                                                        {% if forloop.first %}
                                                                            {% for hidden in form.hidden_fields %}
                                                                                {{ hidden }}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {{ field.errors.as_ul }}
                                                                        {{ field }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                              </div>
                                          </div>
                                </div>

                              </div>

                              <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div class="x_panel">
                                              <div class="x_title">
                                                <h2>Nuevo Ctto<small>Contrato : : Detalle </small></h2>
                                                  <ul class="nav navbar-right panel_toolbox">
                                                      <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                                      </li>
                                                      <li class="dropdown">
                                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Settings 1</a>
                                                          </li>
                                                          <li><a href="#">Settings 2</a>
                                                          </li>
                                                        </ul>
                                                      </li>
                                                      <li><a href="#"><i class="fa fa-close"></i></a>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                                              <div class="x_content">
                                                <p class="text-muted font-13 m-b-30">
                                                  Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                                                </p>

                                                    tabla aqui
                                                    <table class="table">
                                                        {{ ItemCttos.management_form }}

                                                        {% for form in ItemCttos.forms %}
                                                            {% if forloop.first %}
                                                                <thead>
                                                                <tr>
                                                                    {% for field in form.visible_fields %}
                                                                        <th>{{ field.label|capfirst }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                            {% endif %}
                                                            <tr class="{% cycle row1 row2 %} formset1_row">
                                                                {% for field in form.visible_fields %}
                                                                    <td>
                                                                        {# Include the hidden fields in the form #}
                                                                        {% if forloop.first %}
                                                                            {% for hidden in form.hidden_fields %}
                                                                                {{ hidden }}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {{ field.errors.as_ul }}
                                                                        {{ field }}
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                              </div>
                                          </div>
                              </div>



                              <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                          <h2>Nuevo Contrato<small>:Información General </small></h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class='form-group'>
                                              <input type="submit" class="btn btn-primary" name="submit" value="Crear Contrato">
                                              <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'personas:personas' %}'">Cancelar</button>
                                        </div>

                                    </div>

                              </div>



      </form>

                    </div>
                    <div class="clearfix"></div>

              </div>
                  <div class="x_content">
                      <p class="text-muted font-13 m-b-30">
                          Tablas de Servicios, Contratos y Convenios: <code>$().DataTable();</code>
                      </p>
                  </div>

            </div>
      </div>
    </div>
</div>


<script>
   $(function(){
       function hideInputs() {
           $("#id_SeguroCtto").hide();
           $("#id_ObservCtto").hide();
       }

       $("#id_TerrenCtto").on('change', function(){
           var val = $("#id_TerrenCtto").val();
           if (val == 'Si') {
               $("#id_SeguroCtto").show();

           } else if (val == 'No') {
               $("#id_ObservCtto").show();
               $("#id_SeguroCtto").hide();
           } else {
               hideInputs();
           }
       });

      $("#id_IdCecoCtto").on('change',inicio);
       function inicio (){
           var idajx = $(this).val();
           $.ajax({
            data: {'idajx':idajx},
             url: '/crear_persona/busqueda_ajax',
            type: 'get',
            success: function(data){
              var html =""
              for (var i = 0; i<data.length ; i++){
                html += '&nbsp Nombre : '+data[i].fields.NomCeco+''
              }
              $('#datos').html(html);
            }


           });
        }


       hideInputs();
   });
   </script>
{% endblock cuerpo %}

{% block js %}

  <script type="text/javascript">


      $('.formset2_row').formset({
          addText: 'Agregar Aporte',
          deleteText: 'Eliminar',
          prefix: 'aportesctto_set'
      });

      $('.formset3_row').formset({
          addText: 'Agregar Multa',
          deleteText: 'Eliminar',
          prefix: 'multasperclavectto_set'
      });

      $('.formset1_row').formset({
          addText: 'Agregar Item',
          deleteText: 'Eliminar',
          prefix: 'itemctto_set'
      });



  </script>




{% endblock js %}
