
{% extends "CuerpoVacio.html" %}

{% block cuerpo %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>
              Users
              <small>
                  Some examples to get you started
              </small>
          </h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                  </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Servicios <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a href="#"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">
              Tablas de Servicios, Contratos y Convenios: <code>$().DataTable();</code>
            </p>




      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Contratos <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a href="#"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">
              Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
            </p>

            <div class="row">
                <div class="col-lg-12">


                          <div class="panel panel-info">
                              <div class="panel-heading">
                                  Detalle del Contrato
                              </div>
                              <div class="panel-body">
                                  <div class='form-group'>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <p><label>Ctto :&nbsp; </label>{{ Ctto.NumCtto }}</p>
                                              <p><label>Descripción :&nbsp;</label>{{ Ctto.DescCtto }}</p>
                                              <p><label>Contratista :&nbsp; </label>{{ Ctto.IdCtta.NomCtta }}</p>
                                              <p><label>Rut :&nbsp; </label>{{ Ctto.IdCtta.RutCtta }}</p>
                                              <p><label>Centro Costo :&nbsp; </label>{{ Ctto.IdCecoCtto.CodCeco }}</p>
                                              <p><label>Fecha Inicio :&nbsp; </label>{{ Ctto.FechIniCtto }}</p>
                                              <P><label>Fecha Término inicial:&nbsp; </label>{{ Ctto.FechTerCtto }}</p>
                                              <p><label>Moneda Ctto :&nbsp; </label>{{ Ctto.MonedaCtto }}</p>
                                              <p><label>Retención Contrato:&nbsp; </label>{{ Ctto.RetenCtto }}%</p>

                                              <p><label>Mandante :&nbsp; </label>{{ Ctto.IdMandante.NomMandte }}</p>
                                              <p><label>Cordinador de Ctto NU :&nbsp; </label>{{ Ctto.CordCtto }}</p>
                                              <p><label>Administrador de Ctto Ctta:&nbsp; </label>{{ Ctto.AdminCttoCtta }}</p>

                                          </div>

                                          <div class="col-md-6">
                                              <p><label>Valor Inicial Ctto :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ Ctto.ValorCtto}}</td></p>
                                              <p><label>Valor Modificaciones :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaODC}}</td></p>
                                              <p><label>Valor Actualizado :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ ValActCtto}}</td></p>
                                              <P><label>Fecha Término Actualizado:&nbsp; </label>{{ TerActualizado }}</p>
                                              <P><label>Vigencia (Días):&nbsp; </label>{{ Vigencia }}</p>
                                              <p><label>Porcentaje Vencimiento :&nbsp;</label><td>&nbsp;{{ porvigencia }}%</td></p>

                                              <p><label>Total Avance :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaEDP}}</td></p>

                                              <p><label>Porcentaje Avanzado :&nbsp;</label><td style="">&nbsp;{{ poravance}}%</td></p>

                                              <p><label>Total Retenciones :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaRet}}</td></p>
                                              <p><label>Total Devolución Retenciones :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaDevRet}}</td></p>
                                              <p><label>Total Anticipos :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaAnt}}</td></p>
                                              <p><label>Total Devolución Anticipos :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaDevAnt}}</td></p>
                                              <p><label>Total Descuentos :&nbsp; </label>{{ Ctto.MonedaCtto }}<td style="mso-number-format:'#,##0.000';">&nbsp;{{ sumaDesc}}</td></p>

                                          </div>


                                      </div>
                                  </div>
                              </div>
                          </div>





                </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Ordenes de Cambio <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a href="#"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">
              Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
            </p>


            <div class='form-group'>
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-7">

                    </div>

                    <div class="col-lg-1">
                        <a id="crear_detalle" href="{% url 'personas:reporte_personas_excel' %}" class="btn btn-info btn-block">
                          <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                    </div>


                    <div class="col-lg-1">
                        <a id="crear_detalle" href="{% url 'personas:crear_odc' id_ctto %}" class="btn btn-info btn-block">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="datatable-responsive2" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              <th class="text-center">Nº ODC</th>
                              <th class="text-center">Descripción</th>
                              <th class="text-center">Centro de Cuenta</th>
                              <th class="text-center">F Término</th>
                              <th class="text-center">Valor</th>
                              <th class="text-center">Observación</th>
                              <th class="text-center">Acción</th>
                          </tr>
                      </thead>
                      <tbody>

                      {% for odc in Odc %}
                        {% if odc.IdCtto_id == id_ctto %}
                          <tr>
                              <td>{{ odc.NumODC }}</td>
                              <td>{{ odc.DescripODC }}</td>
                              <td>{{ odc.IdCecoODC.CodCeco }}</td>
                              <td>{{ odc.FechT_ODC }}</td>
                              <td>{{ odc.IdCtto.MonedaCtto}} {{ odc.ValorODC }}</td>
                              <td>{{ odc.ObservOdc }}</td>

                               <td class="text-center">
                                  <a class="btn btn-xs" href="{% url 'personas:crear_docODC' odc.pk %}">
                                      <span class="glyphicon glyphicon-file"></span>
                                  </a>
                                  <a class="btn btn-xs" href="{% url 'personas:detalle_odc' odc.pk %}">
                                      <span class="glyphicon glyphicon-folder-open"></span>
                                  </a>
                                  <a class="btn btn-xs" href="{% url 'personas:modificar_odc' odc.pk %}">
                                      <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                  <a class="btn btn-xs" href="{% url 'personas:borrar_odc' odc.pk %}">
                                      <span class="glyphicon glyphicon-remove"></span>
                                  </a>
                              </td>

                          </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>




            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Estados de Pagos<small>Users</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">
                    Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                  </p>




                  <div class='form-group'>
                      <div class="row">
                          <div class="col-lg-3">

                          </div>
                          <div class="col-lg-7">

                          </div>

                          <div class="col-lg-1">
                              <a id="crear_detalle" href="{% url 'personas:reporte_personas_excel' %}" class="btn btn-info btn-block">
                                <span class="glyphicon glyphicon-list-alt"></span>
                              </a>
                          </div>


                          <div class="col-lg-1">
                              <a id="crear_detalle" href="{% url 'personas:crear_edp' id_ctto %}" class="btn btn-info btn-block">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </a>
                          </div>

                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <table id="datatable-responsive3" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th class="text-center">Nº EDP</th>
                                      <th class="text-center">Periodo Inicial</th>
                                      <th class="text-center">Peridod Final</th>
                                      <th class="text-center">Valor EDP</th>
                                      <th class="text-center">Dev Anticipo</th>
                                      <th class="text-center">Retención</th>
                                      <th class="text-center">Dev Retención</th>
                                      <th class="text-center">Factura</th>
                                      <th class="text-center">Acción</th>

                                  </tr>
                              </thead>
                              <tbody>

                              {% for edp in Edp %}
                                {% if edp.IdCtto_id == id_ctto %}

                                  <tr>
                                      <td>{{ edp.NumEDP }}</td>
                                      <td>{{ edp.PeriodEDP }}</td>
                                      <td>{{ edp.PeriodEDPTer }}</td>
                                      <td>{{ edp.IdCtto.MonedaCtto}} {{ edp.ValEDP }}</td>
                                      <td>{{ edp.DevAntEDP }}</td>
                                      <td>{{ edp.RetEDP }}</td>
                                      <td>{{ edp.DevRet }}</td>
                                      <td>{{ edp.FactEDP }}</td>

                                       <td class="text-center">
                                         <a class="btn btn-xs" href="{% url 'personas:crear_docEDP' edp.pk %}">
                                             <span class="glyphicon glyphicon-file"></span>
                                         </a>
                                          <a class="btn btn-xs" href="{% url 'personas:detalle_edp' edp.pk %}">
                                              <span class="glyphicon glyphicon-folder-open"></span>
                                          </a>
                                          <a class="btn btn-xs" href="{% url 'personas:modificar_edp' edp.pk %}">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                          </a>
                                          <a class="btn btn-xs" href="{% url 'personas:borrar_edp' edp.pk %}">
                                              <span class="glyphicon glyphicon-remove"></span>
                                          </a>

                                      </td>

                                  </tr>
                                {% endif %}
                              {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Generar Cierre <small>Users</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">
                    Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
                  </p>




                  <div class='form-group'>
                      <div class="row">
                          <div class="col-lg-3">

                          </div>
                          <div class="col-lg-7">

                          </div>

                          <div class="col-lg-1">
                              <a id="crear_finiquito" href="{% url 'personas:reporte_finiquito' id_ctto %}" class="btn btn-info btn-block">
                                <span class="glyphicon glyphicon-file"></span>
                              </a>
                          </div>

                      </div>
                  </div>
                  <div class="row">

                  </div>
                  </div>
                </div>
              </div>
            </div>




































          </div>
        </div>



      </div>
    </div>

  </div>
</div>





{% endblock cuerpo %}






{% block js %}

{% endblock js %}
