{% extends "CuerpoVacio.html" %}

{% block cuerpo %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>
              Users
              <small>
                  Some examples to get you started
              </small>
          </h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                  </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Modificar Edp <small>Users</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a href="#"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">
              Tablas de Servicios, Contratos y Convenios: <code>$().DataTable();</code>
            </p>
            <input id="date">

            <div class="row">
                <div class="col-lg-12">

                  <div class="row">
                      <div class="col-xs-8 col-xs-push-1">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  Por favor ingrese todos los campos necesarios.
                              </div>
                              <div class="panel-body">
                                  <form role="form" method="post">
                                      {% csrf_token %}
                                      <div class="form-group">
                                          {{ form.as_p}}
                                      </div>
                                      <table class="table">
                                          {{ familymembers.management_form }}

                                          {% for form in familymembers.forms %}
                                              {% if forloop.first %}
                                                  <thead>
                                                  <tr>
                                                      {% for field in form.visible_fields %}
                                                          <th>{{ field.label|capfirst }}</th>
                                                      {% endfor %}
                                                  </tr>
                                                  </thead>
                                              {% endif %}
                                              <tr class="{% cycle row1 row2 %} formset_row">
                                                  {% for field in form.visible_fields %}
                                                      <td>
                                                          {# Include the hidden fields in the form #}
                                                          {% if forloop.first %}
                                                              {% for hidden in form.hidden_fields %}
                                                                  {{ hidden }}
                                                              {% endfor %}
                                                          {% endif %}
                                                          {{ field.errors.as_ul }}
                                                          {{ field }}
                                                      </td>
                                                  {% endfor %}
                                              </tr>
                                          {% endfor %}
                                      </table>

                                      <div class='form-group'>
                                          <input type="submit" class="btn btn-primary" name="submit" value="Modificar Orden de Cambio">
                                          <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'personas:personas' %}'">
                                              Cancelar
                                          </button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="popup"></div>



                </div>
            </div>
          </div>
        </div>
      </div>



          </div>
        </div>



  </div>




{% endblock cuerpo %}

{% block js %}

<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add family member',
        deleteText: 'remove',
        prefix: 'itemodc_set'
    });
</script>

jQuery(function($){
   $("#date").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
   $("#phone").mask("(999) 999-9999");
   $("#tin").mask("99-9999999");
   $("#ssn").mask("999-99-9999");
});

{% endblock js %}
